#-----------------------------------------------------------
#-----------------------SECTIONS----------------------------
#-----------------------------------------------------------

snippet chap "\chapter{}" b
\chapter{${VISUAL}$1}
\label{chap:$2}

$0
endsnippet
snippet sec "\section{}" b
\section{${VISUAL}$1}
\label{sec:$2}

$0
endsnippet

snippet sub "\subsection{}" b
\subsection{${VISUAL}$1}
\label{subsec:$2}

$0
endsnippet

snippet par "\paragraph{}" b
\paragraph{${VISUAL}$1}
$0
endsnippet

#-----------------------------------------------------------
#-----------------------EQUATIONS----------------------------
#-----------------------------------------------------------

#snippet $ "inline math $ $" i
#$${VISUAL}$1$$0
#endsnippet


#-----------------------------------------------------------
#-----------------------BRACKETS----------------------------
#-----------------------------------------------------------

snippet { "curly brackets {}" i
{${VISUAL}$1}$0
endsnippet

snippet (( "\left(\right)" i
\left(${VISUAL}$1\right)$0
endsnippet

snippet [[ "\left[\right]" i
\left[${VISUAL}$1\right]$0
endsnippet

snippet {{ "\left\{\right\}" i
\left\{${VISUAL}$1\right\}$0
endsnippet

snippet floor "\lfloor\rfloor" i
\lfloor${VISUAL}$1\rfloor$0
endsnippet

snippet ceil "\lceil\rceil" i
\lceil${VISUAL}$1\rceil$0
endsnippet



snippet newc "\newcommand" b
%${1:description}
\newcommand{\\${2:name}}[${3:NumberArgs}][${4:defaultValue}]{${5:stuff}}
$0
endsnippet

